<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DataStructure.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>generalizedlist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>linkedlist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>lookup.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>queue.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>scds.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>sort.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>sqlist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>stack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>string.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9F959DBD1CFC109000618248</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F959DE41CFC10EE00618248</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F959DEF1CFC110D00618248</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F959E0D1CFC186F00618248</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F959E201CFC3ACD00618248</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F959E2E1CFC49BA00618248</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F959E3C1CFD1FCC00618248</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F959E471CFD209300618248</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE0201081CFBFE1E0087969B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE0201161CFC8DE80087969B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
